{% block header %}
    <h1>Playground</h1>
{% endblock %}

{% block main %}
    <div id="msg"></div>


    <!-- 'React' Module -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.development.js"></script>
    <!-- 'ReactDOM' Module -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.development.js"></script>
    <!-- Babel for JSX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

    <!-- 
        type="text/javascript"         // HTML5 and earlier
        type="application/javascript"  // HTML5
        type="module"                  // ES6
        type="text/babel"              // JSX
    -->
    <script src="js/react.js" type="text/babel"></script>
{% endblock %}